/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;500;600&display=swap'); */
html {
  font-family: "Poppins", Helvetica, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", Helvetica, sans-serif;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: #153243;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: "Poppins", Helvetica, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: "Poppins", Helvetica, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: "Poppins", Helvetica, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: "Poppins", Helvetica, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: "Poppins", Helvetica, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: "Poppins", Helvetica, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

/** Norden Soft Css **/
@media (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1260px;
  }
}
.content-title {
  font-size: 36px;
  line-height: 46px;
  font-weight: bold;
  margin-bottom: 15px;
}
.btn {
  width: max-content;
  min-width: 150px;
  line-height: 34px;
}
.site-header a{
  color: #fff;
  font-family: "Poppins", Helvetica, sans-serif;
  text-decoration: none;
  font-size: 16px;
}
.site-header .menu-link {
  margin: 0 5px;
}
.site-header a.active {
  font-weight: bold;
  border-bottom: 1px solid #153243;
}
.site-header.sticky {
  background: #fff;
  box-shadow: 1px 3px 5px rgba(0,0,0,.1);
}
.site-header.white {
  background: #ffffff;
}
.site-header.white a,
.site-header.sticky a{
  color: #153243;
}
.site-header.white .logodark,
.site-header.sticky .logodark {
  display: block !important;
}
.site-header.white .logo,
.site-header.sticky .logo {
  display: none;
}
.logo,
.logodark {
  width: 100px;
  height: auto;
}
.logo img,
.logodark img {
  margin-bottom: 0;
}
@media (max-width: 768px) {
  /* .site-header {
    height: 70px;
  } */
  .blog-banner {
    padding-top: 70px;
  }
}
.banner {
  /* background: url('../images/bg-image.jpg'); */
  padding-top: 114px;
  color: #fff;
  background-size: cover;
}
.banner .tag {
  color: #E59385;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 15px;
}
.banner-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  right: 0;
  z-index: 0;
}
.banner-bg img {
  width: 100%;
  height: 100%;
  z-index: -3;
}
.banner-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}
.banner-content .check {
  width: 28px;
  height: 24px;
  display: block;
  position: absolute;
  top: 15px;
  left: 10px;
}
@media (min-width: 768px){
  .w-md-75 {
    width: 75%;
  }
}
.blog-banner {
  padding-top: 114px;
  background: #F3F5F5;
}
.blog-banner img {
  margin-bottom: 0;
  width: 660px;
}
.blog-banner .banner-absolute {
  position: absolute;
}
.blog-banner .layer1 {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .blog-banner {
    padding-top: 70px;
  }
}
@media (min-width: 1200px) {
  .blog-banner .layer1 {
    position: absolute;
  }
}
@media (max-width: 1200px) {
  .blog-banner .layer1 img {
    margin: 0 auto;
  }
}
@media (max-width: 330px) {
  .blog-banner .layer1 img {
    width: 100%;
    height: auto;
    margin: 0 !important;
  }
}
.blog-banner .layer2 {
  height: 645px;
}
.blog-banner .tag {
  color: #E59385;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 15px;
}
.blog-banner .banner-title {
  font-size: 46px;
  line-height: 58px;
  font-weight: bold;
  margin-bottom: 35px;
}

@media (max-width: 420px) {
  .blog-banner .banner-title {
    font-size: 34px;
    line-height: 40px;
  }
}

.post-list .post {
  position: relative;
  height: 600px;
  border: 1px solid #DBDFE2;
  border-radius: 5px;
  margin-bottom: 30px;
  overflow: hidden;
}
.post-list .post.dark-bg {
  background: #153243;
}
.post-list .post.dark-bg {
  color: #ffffff;
}
.post-list .post .post-content {
  padding: 30px;
}
.post-list .post .post-content p {
  margin-bottom: 45px;
}
.post-list .post .post-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.post-list .post .post-image {
  height: 230px;
  margin-bottom: 30px;
}
.post-list .post .post-title {
  font-size: 22px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.post-list .post .tag {
  color: #E59385;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
.post-list .post .post-date {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: #8F8F8F;
  opacity: .6;
  font-size: 16px;
  line-height: 20px;
}

.post-filter-button {
  border: none;
  background: none;
  outline: none;
  margin-right: 35px;
  color: #153243;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  padding-bottom: 10px;
  display: inline;
  cursor: pointer;
}
.post-filter-button.active {
  border-bottom: 1px solid #153243;
  font-weight: bold;
}
/* .post-filter-button:hover, */
.post-filter-button:focus {
  outline: none;
}
.sidebar {
  width: 100%;
  padding: 30px;
  background-color: #E7EAEC;
  border-radius: 5px;
}

.sidebar .title {
  color: #153243;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 30px;
}
.sidebar .recent-post-list li,
.sidebar .category-list li {
  list-style: none;
}
.sidebar .recent-post-list li a,
.sidebar .category-list li a {
  color: #153243;
  font-size: 16px;
  line-height: 20px;
  text-decoration: underline;
}

.post-page {
  padding-top: 150px;
}
.post-page .post-date {
  color: #8F8F8F;
  opacity: .6;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}
.post-page .tag {
  color: #E59385;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}
.post-page .post-image {
  max-width: 900px;
  margin: 20px auto;
}
.post-page .post-image img {
  width: 100%;
  height: auto;
}

.btn-contact {
  background-color: #00B67A;
  color: #fff !important;
  border-radius: 5px !important;
  height: 50px;
  width: 193px;
  line-height: 50px;
  padding: 0 !important;
}
.btn-contact:hover {
  color: #e1e1e1;
}
.btn-contact:focus {
  box-shadow: none;
}
.banner .breadcrumb {
  position: absolute;
  top:100px;
  background: none;
  font-size: 14px;
  font-weight: bold;
  padding: 0;
}
.banner .breadcrumb a {
  margin-right: 5px;
  color: #fff;
  font-weight: normal;
}
.banner .banner-title {
  max-width: 667px;
  font-size: 46px;
  line-height: 58px;
  font-weight: bold;
  margin-bottom: 35px;
  display: flex;
  justify-content: flex-start;
}
.banner .banner-title .title-icon {
  background: #fff;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 35px;
}

.banner .banner-title img {
  margin: 0;
  height: 60%;
  width: auto;
}
.banner .text-line {
  position: relative;
  width: 330px;
  margin: 10px 0;
  padding-left: 50px;
  font-size: 16px;
  font-family: 'Work Sans', sans-serif; 
}

.banner svg {
  position: absolute;
  left: 0;
  top: 10px;
  fill: #fff;
}

.banner svg path {
  width: 50px;
  height: 50px;
}

.banner .logo-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .banner .logo-block .badge .gatsby-image-wrapper img {
  object-fit: contain !important;
} */
/* .banner .logo-block .badge {
  width: 530px;
  height: auto;
  margin: 0 10px;
} */
@media (max-width: 767px) {
  .banner .logo-block .badge {
    width: 350px;
  }
}
.banner .logo-block .badge-1 {
  width: 90px;
  height: 90px;
  margin: 0 10px;
}
.banner .logo-block .badge-2 {
  width: 81px;
  height: 99px;
  margin: 0 10px;
}
.banner .logo-block .badge-3 {
  width: 137px;
  height: 50px;
  margin: 0 10px;
}
.banner .logo-block .badge-4 {
  width: 150px;
  height: 68px;
  margin: 0 10px;
}

.banner-form {
  background: #fff;
  color: #153243;
  padding: 48px 40px;
  width: 405px;
  border-radius: 5px;
}

.banner-form .form-title {
  font-size: 26px;
  line-height: 34px;
  font-weight: bold;
  color: #153243;
  margin-bottom: 15px;
}

.banner-form .form-subtitle {
  font-size: 16px;
  line-height: 20px;
  color: #153243;
  font-family: 'Work Sans', sans-serif;
  margin-bottom: 24px;
}

.banner-form label {
  margin-bottom: 0;
  font-size: 16px;
  color: #153243  ;
}

.banner-form input {
  height: 50px;
}

.banner-form .btn-banner-form {
  background-color: #00B67A;
  color: #fff;
  height: 50px;
  width: 100%;
}

@media (max-width: 960px) {
  .banner-content {
    height: 1300px;
  }
  .banner .banner-title {
    width: 100%;
    font-size: 40px;
    line-height: 53px;
  }
}

.btn-peopl {
  background-color: #00B67A;
  color: #fff;
  height: 50px;
  font-size: 16px;
  line-height: 34px;
  padding: 8px 34px;
}

.logo-block-full {
  background: #f3f5f5;
  height: 120px;
}
@media (max-width: 1200px) {
  .logo-block-full .brand-block {
    overflow-x: scroll;
  }
}
.logo-block-full .logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1044px;
  height: 120px;
}

.logo-block-full .logos .kunde {
  width: 110px;
}

.logo-block-full .logos .kunde img {
  margin-bottom: 0;
}

.video-block .video-block-content {
  text-align: center;
  max-width: 833px;
}

.video-block .video-title {
  font-size: 40px;
  line-height: 52px;
  font-weight: bold;
  margin: 20px 0  ;
}

.video-block .video-description {
  font-size: 16px;
  line-height: 20px;
  font-family: 'Work Sans', sans-serif;
  max-width: 689px;
}

.video-block .video-button {
  color: #153243;
  width: 210px;
  height: 50px;
  border-color: #153243;
  border-radius: 5px;
  margin: 20px 0;
}

.video-block .video-button:hover {
  color: #fff;
  border-color: #153243;
  background-color: #153243;
}

.embed-responsive {
  border-radius: 5px;
}

.services-block {
  background: #e7eaec;
}

.services-block .services-desc {
  max-width: 670px;
  margin: 0 auto;
  text-align: center;
}
.services-block .title {
  font-size: 40px;
  line-height: 52px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.services-block .description {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.services-block .icon-cards {
  max-width: 944px;
  margin: 0 auto;
}

.services-block .icon-card {
  background: #fff;
  border: 1px solid #DBDFE2;
  border-radius: 5px;
  padding: 30px;
  margin: 10px;
}

.services-block .icon-card .icon-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 12px;
}

.services-block .icon-card .icon-image {
  margin: 28px 0;
}

.services-block .icon-card .icon-image img {
  max-width: unset !important;
}

.services-block .icon-card .icon-image.facebook {
  width: 27px;
  height: 50px;
}

.services-block .icon-card .icon-image.google {
  width: 53px;
  height: 50px;
}

.services-block .icon-card .icon-image.seo {
  width: 50px;
  height: 50px;
}

.services-block .icon-card .icon-image.amazon {
  width: 50px;
  height: 50px;
}
.services-block .icon-card .icon-image.mail {
  width: 50px;
  height: 50px;
}
.services-block .icon-card .icon-image.code {
  width: 50px;
  height: 50px;
}

.services-block .icon-card a.icon-readmore {
  font-size: 16px;
  text-decoration: underline;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  color: #153254;
}

.color-block {
  background: #153243;
  color: #fff;
}

.color-block p {
  margin-bottom: 0;
}

.color-block p span {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

.trustpilot-image {
  width: 480px;
}

.trustpilot-image img {
  margin-bottom: 0;
}

.videocard-block .card {
  border-radius: 5px;
  margin: 0 10px !important;
  border: 1px solid #DBDFE2;
  padding-bottom: 60px;
}

.videocard-block .card .card-title {
  font-size: 22px;
  line-height: 30px;
}
.videocard-block .card-body {
  flex: none;
}
.videocard-block .card-body p {
  margin-bottom: 0 !important;
}
.videocard-block .card-body .kunde {
  width: 90px;
  height: 50px;
  margin: 30px 0;
}
.videocard-block .footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.videocard-block .card-button {
  color: #153243;
  width: 210px;
  height: 50px;
  border-color: #153243;
  border-radius: 5px;
  margin: 20px 0;
  line-height: 35px;
}

.videocard-block .card-button:hover {
  color: #fff;
  border-color: #153243;
  background-color: #153243;
}

.single-page .content img {
  width: 100%;
} 

.inline-form-title {
  font-size: 40px;
  line-height: 52px;
  font-weight: bold;
}

.inline-from input {
  height: 50px;
}

.inline-from input[type=submit] {
  background-color: #00B67A;
  border-color: #00B67A;
  color: #fff;
  font-size: 16px;
  height: 50px;
}

footer {
  overflow: hidden;
}

footer ul li {
  font-family: 'Work Sans', sans-serif;
  margin-bottom: 10px;
}

footer ul li  a{
  font-size: 16px;
  line-height: 20px;
  color: #153243 !important;
}
.text-muted {
  color: #153243 !important;
}

footer .logo-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

footer .logo-block .footerbadges {
  width: 412px;
  margin: 0 10px;
}

footer .map-container {
  background: #f3f5f5;
  position: absolute;
  top: -3rem;
  left: 0;
  width: 62vh;
  height: 60vh;
}

footer .map-container iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {
  footer .col-map {
    height: 300px;
  }
  footer .map-container {
    width: 100%;
  }
  footer .logo-block {
    margin-bottom: 80px;
  }
}

.social-icons {
  width: 100%;
  display: flex;
  margin-bottom: 55px;
  justify-content: flex-start;
  align-items: center;
}
.social-icons .social-icon {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

/** Mobile Menu **/

/* .menu-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 100%;
} */
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .95);
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1100;
  transition: left 300ms linear ;
 }
.menu.active {
  right: -100%;
  transition: all 300ms linear;
  display: none;
}
 .menu-close {
  position: absolute;
  top: 0px;
  right: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 50px;
  font-weight: 800;
  background: none;
  border: none;
}
.menu-button {
  display: inline-block;
  padding: 10px 0;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: none;
  border: none;
}
.menu-button span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
}
.menu ul {
  padding: 0;
  margin: 0;
}
.menu-box li {
  text-align: center;
  margin-bottom: 20px;
  list-style-type: none;
}
.menu-box .btn-contact {
  font-size: 18px;
}
.menu-box a {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
}

.float-phone {
  width: 80px;
  height: 80px;
  position: fixed;
  right: 0;
  top: 45%;
  z-index: 553;
}
.float-phone a {
  width: 100%;
  height: 100%;
  display: block;
}
@media (max-width: 768px) {
  .float-phone {
    width: 53px;
    height: 53px;
  }
}
.btn-outline-secondary {
  color: #153243;
  border: 1px solid #153243;
}
.btn-outline-secondary:hover,
.btn-outline-secondary:focus,
.btn-outline-secondary:active {
  color: #153243 !important;
  background: #F3F5F5;
  outline: none;
  box-shadow: none !important;
  background-color: #F3F5F5 !important;
  border-color: #153243 !important;
}